@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="alert alert-dismissible alert-danger">
    @* <button type="button" class="btn-close" data-bs-dismiss="alert"></button> *@
    <strong>Oh snap!</strong> You do not have access to this resource.
</div>

@* <header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header> *@
